
@import './variable.scss';
@import './mixins.scss';
@import './utilities.scss';

.yy-page {
  padding: 10px 5px;
}

.bui-nav-tab-item .tab-item-inner {
  margin: 0 32px 0 5px;
  color: #3a787f;
  text-align: center;
  background-color: transparent;
}

.controls textarea {
  width: 300px;
}
