<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <%= require('html!./inc-meta.html') %>
</head>
<body>
  <div class="header">
    <div class="dl-title">
      <a href="#" title="文档库地址" target="_blank">
        <span class="lp-title-port"></span>
        <span class="dl-title-text">核心展业系统</span>
      </a>
    </div>
    <div class="dl-log">
      欢迎您，
      <span class="dl-log-user">xxx.****</span>
      <a href="###" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
  </div>

  <div class="content">
    <div class="dl-main-nav">
      <ul id="J_Nav"  class="nav-list ks-clear">
        <li class="nav-item dl-selected">
          <div class="nav-item-inner nav-profile">我的面板</div>
          <div class="nav-item-mask"></div>
        </li>
        <li class="nav-item dl-hover">
          <div class="nav-item-inner nav-setting">系统设置</div>
          <div class="nav-item-mask"></div>
        </li>
      </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
  </div>

  <%= require('html!./inc-footer.html') %>
</body>
</html>
