<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <%= require('html!./inc-meta.html') %>
</head>
<body class="yy-page">
  <div class="panel panel-default">
    <div class="panel-header">
      详细信息
    </div>
    <div class="panel-body">
      <form id="J_Form" action="" class="form-horizontal">
        <div class="control-group">
          <label class="control-label">归属公司：</label>
          <div class="controls">
            <label class="control-text">友金所</label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">归属部门：</label>
          <div class="controls">
            <label class="control-text">总部</label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">姓名：</label>
          <div class="controls">
            <input name="sname" type="text" class="input-large" data-rules="{required : true}">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">邮箱：</label>
          <div class="controls">
            <input name="sname" type="text" class="input-large" data-rules="{required : true}">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">电话：</label>
          <div class="controls">
            <input name="sname" type="text" class="input-large" data-rules="{required : true}">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">手机：</label>
          <div class="controls">
            <input name="sname" type="text" class="input-large" data-rules="{required : true}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">备注：</label>
          <div class="controls  control-row4"><textarea></textarea></div>
        </div>

        <div class="control-group">
          <label class="control-label">用户类型：</label>
          <div class="controls">
            <label class="control-text">普通用户</label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">用户角色：</label>
          <div class="controls">
            <label class="control-text">IT运维岗，客户经理，风控专员</label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">上次登录：</label>
          <div class="controls">
            <label class="control-text">IP:172.30.2.92 时间：2016年2月26日 星期五 16:01:42</label>
          </div>
        </div>

        <div class="row">
            <div class="form-actions span13 offset3">
              <button type="submit" class="button button-primary">保存</button>
            </div>
        </div>
      </form>
    </div>
  </div>

  <%= require('html!./inc-footer.html') %>
</body>
</html>
